<div class="col-lg-4 col-md-5">
  <div class="blog__sidebar">
    <div class="blog__sidebar__search">
      <form action="/blogs" method="get">
        <input type="text" placeholder="Search..." name="title" />
        <button type="submit"><span class="icon_search"></span></button>
      </form>
    </div>
    <div class="blog__sidebar__item">
      <h4>Categories</h4>
      <ul>
        <li><a href="/">All</a></li>
        {{#each categories}}
        <li><a href="/blogs?category={{lowerCase name}}">{{name}} <span>({{blogCount}})</span></a></li>
        {{/each}}
      </ul>
    </div>

    <div class="blog__sidebar__item">
      <h4>Search By Tags</h4>
      <div class="blog__sidebar__item__tags">
        <a href="/blogs?tag=Apple">Apple</a>
        <a href="/blogs?tag=Beauty">Beauty</a>
        <a href="/blogs?tag=Vegetables">Vegetables</a>
        <a href="/blogs?tag=Fruit">Fruit</a>
        <a href="/blogs?tag=Healthy_Food">Healthy Food</a>
        <a href="/blogs?tag=Life_Style">Lifestyle</a>
      </div>
    </div>
  </div>
</div>
